# Entorno virtual de Python
venv/
.venv/
env/

# cache de Python
__pycache__/
*.pyc
*.pyo

# Variables de entorno secretos - NUNCA subir
.env
.env.local
*.env

# Achivos del sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Jupyter Notebooks
.ipynb_checkpoints/